<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<div class="row">
    <h2 class="text-center">About Us!</h2>
    <p class="text-center">Here at ElectDemocrasts, we seek to shed light on the underfunded elections that affect change up and down the political system. We routinely see House, Senate, and Presidential elections run into the millions of dollars, yet state and local races (where you can more directly impact constituents lives). This site is built for both everyday people to get involved as well as campaigns seeking to get vital resources to where they are most needed.  We're here to connect both parties to cut through the bureaucracy of political activism to more effectively elect Democrats to all kinds of offices.</p>
    <p class="text-center">This is version 1.01 of Elect Democrats, i.e. Version Alpha </p>
    <p class="text-center">Contact us at electdemocrats@gmail.com</p>
</div>

{% endblock %}