{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-4">All Campaigns</h1>
    </div>
    <div class="col">
        <a href="/campaign/new" class="btn btn-primary btn-sm mt-5" role="button">New Campaign</a>
    </div>
</div>

{% if campaigns %}
    {% for campaign in campaigns %}
        <div class="row border-bottom">
            <div class="col-1">
                {% if loop.index == 1 %}
                <h3 class="display-7">Date</h3>
                {% endif %}
                <a href="/campaign/delete/{{campaign.id}}">|Delete|</a>
                <a href="/campaign/{{campaign.id}}">
                    |Edit {{moment(campaign.createdate).calendar()}}|
                </a>
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                <h3 class="display-10">User</h3>
                {% endif %}
                {{campaign.author.username}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-10">Office Level</h3>
                {% endif %}
                {{campaign.officelevel}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-10">Office Location</h3>
                {% endif %}
                {{campaign.officelocation}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-10">Office</h3>
                {% endif %}
                {{campaign.office}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-10">Desired Budget</h3>
                {% endif %}
                {{campaign.desiredbudget}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-10">Incumbent Budget</h3>
                {% endif %}
                {{campaign.incumbentbudget}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-10">Incumbent Party</h3>
                {% endif %}
                {{campaign.incumbentparty}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-10">Incumbent Ideology</h3>
                {% endif %}
                {{campaign.incumbentideology}}
            </div>
            <div class="col-12">
                {% if loop.index == 1 %}
                    <h3 class="display-10">Campaign Description</h3>
                {% endif %}
                {{campaign.campaigndesc}}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No Campaigns</h1>
{% endif %}

{% endblock %}

